################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/interactive.py
/__pycache__/CINRAD_radar.cpython-36.pyc
/__pycache__/form_colormap.cpython-36.pyc
